<mat-card class = "home mat-elevation-z3">
    <mat-card-title class = "title">
        Bem-vindo !
    </mat-card-title>
    <mat-card-subtitle class = "subtitle">
        
    </mat-card-subtitle>
    <div class='cards-games'>
        <mat-card *ngFor="let game of games"  class="example-card">
            
            <mat-card-content class = 'content'>
                <mat-card-title >{{game.nome}}</mat-card-title>
                <mat-card-title >{{game.preco | currency:'BRL'}}</mat-card-title>
                <mat-card-subtitle>{{game.loja.nome}}</mat-card-subtitle>
                <mat-card-subtitle>{{game.categoria.nome}}</mat-card-subtitle>
                <a href="{{game.link}}" target="_blank">Link para Loja</a>
            </mat-card-content>
        </mat-card>  
          
      
          
    </div>

    
