
<mat-card>
    <mat-card-title>Novo Game</mat-card-title>
    <form action="">
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="game.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="game.preco" name="preco">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Link" [(ngModel)]="game.link" name="link">
        </mat-form-field>

        <mat-form-field appearance="fill">
        <mat-label>Selecione uma loja</mat-label>
            <mat-select [(ngModel)]="game.loja" name="loja">
              <mat-option *ngFor="let loja of lojas"  [value]="loja.id">{{loja.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecione uma categoria</mat-label>
                <mat-select [(ngModel)]="game.categoria" name="categoria">
                  <mat-option *ngFor="let categoria of categorias"  [value]="categoria.id">{{categoria.nome}}</mat-option>
                </mat-select>
            </mat-form-field>

        
    </form>
    <button mat-raised-button (click)="createGames()" color="primary" >Salvar</button>
    <button mat-raised-button (click)="cancelGames()">Cancelar</button>
</mat-card>


